<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login - SlideThis</title>
	<link rel="stylesheet" href="lib/css/loginstyles.css">
</head>
<body class="align">
  <div class="site__container">
	    <div class="grid__container">
	    	<img class="logo" src="http://104.236.61.174/files/logo.svg" />
	    	<h1 class="subtitle">Login</h1>
	        <form method="POST" action="/login" class="form form--login">
		        <div class="form__field">
		          <label class="fontawesome-user" for="login__username"><span class="hidden">Username</span></label>
		          <input id="login__username" type="text" class="form__input" placeholder="Username" name="username">
		        </div>
		        <div class="form__field">
		          <label class="fontawesome-lock" for="login__password"><span class="hidden">Password</span></label>
		          <input id="login__password" type="password" class="form__input" placeholder="Password" name="password">
		        </div>
				{% if error_message %}
					<div id="error-msg">
						{{ error_message }}
					</div>
				{% endif %}
		        <div class="form__field">
		          <input id="enter" type="submit" value="Sign In">
		        </div>
	        </form>
    	</div>
  </div>
</body>
</html>