<div id="row-2">
	<div id="title-project">
		<h1>{{ n_pro }}</h1>
	</div>
	<div id="tools">
		<div id="btns" class="pull-right" >
			<div class="divisor divi-id" >
	            ID: {{ id_pro }}</span> 
            </div>
			<div class="divisor">
	            <div class="btn" id="btn-preview"><i class="icon-desktop_windows" aria-hidden="true"></i> Preview</div>
	            <div class="btn" id="btn-save"><i class="icon-save" aria-hidden="true"></i> Save</div>
            </div>
		</div>
	</div>
</div>