<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>View - Slide This</title>
	<!-- styles -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/emojione/2.2.6/assets/css/emojione.min.css">
	<link rel="stylesheet" href="/interpreter/css/styles.css">
	<link rel="stylesheet" href="/interpreter/build/mediaelementplayer.min.css">
	<!-- fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway">
	<link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Amatica+SC" rel="stylesheet">
</head>
<body>
	<div id="idPro">{{ id_pro }}</div>
	<div id="content">
		
	</div>
	<!-- JS -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
	<script src='https://cdn.jsdelivr.net/emojione/2.2.6/lib/js/emojione.min.js'></script>
	<script src='/interpreter/build/mediaelement-and-player.min.js'></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src='/interpreter/js/scripts.js'></script>
</body>
</html>